{% for post in paginator.posts %}
<article class="brick entry format-standard animate-this">
    <div class="entry-thumb">
        <a href="{{ post.url | prepend: site.baseurl }}" class="thumb-link">
            {% if post.thumb-img %}
            {% assign = post-thumb = post.thumb-img %}
            {% else if page.header-img %}
            {% assign post-thumb = post.header-img %}
            {% else %}
            {% assign post-thumb = "/images/shutterbug.jpg" %}
            {% endif %}
            <img src=" {{post-thumb | prepend: site.baseurl }}" alt="{{post.title}}">
        </a>
    </div>
    <div class="entry-text">
        <ul class="entry-header">
            <div class="entry-meta">
                <span>
                    <i class="fa fa-user" style="color: #0099AE;"></i>
                    {% if post.author %}
                    {{post.author}}
                    {% else %}
                    {{site.author.name}}
                    {% endif %}
                </span>
                |
                <span>
                    <i class="fa fa-calendar-o" style="color: #0099AE;"></i>
                    {{post.date | date: "%B %-d,%Y"}}
                </span>
            </div>
        </ul>
        <h1 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h1>
        <div class="entry-excerpt">
            {{post.excerpt}}
        </div>
    </div>
</article>
{% endfor %}
